#vbox{
    -fx-background-image: url("//pokertable.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}